# Autodetect text files
* text=auto

# ...Unless the name matches the following overriding patterns

# Definitively text files
*.php  text
*.css  text
*.js   text
*.txt  text
*.md   text
*.xml  text
*.json text
*.bat  text
*.sql  text
*.yml  text

# Ensure those won't be messed up with
*.png  binary
*.jpg  binary
*.gif  binary
*.ttf  binary

# Ignore some meta files when creating an archive of this repository
/.github            export-ignore
/.gitattributes     export-ignore
/.scrutinizer.yml   export-ignore

# CHANGELOG
/CHANGELOG.md		merge=union

