<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="false"
         colors="true"
         verbose="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true">
    <php>
        <ini name="error_reporting" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="Yii _____ tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
