name: Code Style

on:
  pull_request_target:
    paths:
      - '.github/workflows/cs.yml'
      - 'config/**'
      - 'public/index.php'
      - 'src/**'
      - 'tests/**'
      - '.php-cs-fixer.dist.php'
      - 'composer.json'
      - 'rector.php'
      - 'yii'

jobs:
  cs-fix:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.YIISOFT_GITHUB_TOKEN }}
          ref: ${{ github.head_ref }}
          repository: ${{ github.event.pull_request.head.repo.full_name }}

      - name: Install PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: none

      - name: Install Composer dependencies
        uses: "ramsey/composer-install@v3"

      - name: Run PHP CS Fixer
        run: ./vendor/bin/php-cs-fixer fix --config=.php-cs-fixer.php

      - name: Run Rector
        run: ./vendor/bin/rector --output-format=github

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Apply PHP CS Fixer and Rector changes (CI)"
          file_pattern: '*.php'
          disable_globbing: true
